body {
  color: #1379cc;
  background-color: #1e1e1e;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  border-top: solid #1379cc;
  width: 100%;
  line-height: 20px; /* Vertically center the text there */
  text-align: center;
}

.drag {
  background-color: #323233;
  -webkit-app-region: drag;
}

.lefta {
  text-align: left;
}
